@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;

.login {
  min-height: 100vh;
  @include flex-center;
  background: linear-gradient(135deg, $primary-50 0%, $secondary-50 100%);
  padding: $spacing-8 $spacing-4;

  &__container {
    width: 100%;
  }
}
